[submodule "repos/bjw-s-home-ops"]
	path = repos/bjw-s-home-ops
	url = https://github.com/bjw-s/home-ops
[submodule "repos/onedr0p-home-cluster"]
	path = repos/onedr0p-home-cluster
	url = https://github.com/onedr0p/home-cluster
[submodule "repos/carpenike-k8s-gitops"]
	path = repos/carpenike-k8s-gitops
	url = https://github.com/carpenike/k8s-gitops
[submodule "repos/zacheryph-k8s-gitops"]
	path = repos/zacheryph-k8s-gitops
	url = https://github.com/zacheryph/k8s-gitops
[submodule "repos/anthr76-infra"]
	path = repos/anthr76-infra
	url = https://github.com/anthr76/infra
[submodule "repos/billimek-k8s-gitops"]
	path = repos/billimek-k8s-gitops
	url = https://github.com/billimek/k8s-gitops
[submodule "repos/zenxedo-k3s-gitops"]
	path = repos/zenxedo-k3s-gitops
	url = https://github.com/zenxedo/k3s-gitops
[submodule "repos/blackjid-k8s-gitops"]
	path = repos/blackjid-k8s-gitops
	url = https://github.com/blackjid/k8s-gitops
[submodule "repos/vaskozl-home-infra"]
	path = repos/vaskozl-home-infra
	url = https://github.com/vaskozl/home-infra
[submodule "repos/ams0-rancher-home"]
	path = repos/ams0-rancher-home
	url = https://github.com/ams0/rancher-home
[submodule "repos/npawelek-k8s-gitops"]
	path = repos/npawelek-k8s-gitops
	url = https://github.com/npawelek/k8s-gitops
[submodule "repos/zbigniewzolnierowicz-k8s-home"]
	path = repos/zbigniewzolnierowicz-k8s-home
	url = https://github.com/zbigniewzolnierowicz/k8s-home
[submodule "repos/fobiat-k8s-gitops"]
	path = repos/fobiat-k8s-gitops
	url = https://github.com/fobiat/k8s-gitops
[submodule "repos/xunholy-k8s-gitops"]
	path = repos/xunholy-k8s-gitops
	url = https://github.com/xunholy/k8s-gitops
[submodule "repos/lanquarden-roci-gitops"]
	path = repos/lanquarden-roci-gitops
	url = https://github.com/lanquarden/roci-gitops
[submodule "repos/angelnu-k8s-gitops"]
	path = repos/angelnu-k8s-gitops
	url = https://github.com/angelnu/k8s-gitops
[submodule "repos/WRMilling-k3s-gitops"]
	path = repos/WRMilling-k3s-gitops
	url = https://github.com/WRMilling/k3s-gitops
[submodule "repos/nicholaswilde-home-cluster"]
	path = repos/nicholaswilde-home-cluster
	url = https://github.com/nicholaswilde/home-cluster
[submodule "repos/rust84-k8s-gitops"]
	path = repos/rust84-k8s-gitops
	url = https://github.com/rust84/k8s-gitops
[submodule "repos/auricom-home-cluster"]
	path = repos/auricom-home-cluster
	url = https://github.com/auricom/home-cluster
[submodule "repos/mcfio-GitOps"]
	path = repos/mcfio-GitOps
	url = https://github.com/mcfio/GitOps
[submodule "repos/toboshii-home-cluster"]
	path = repos/toboshii-home-cluster
	url = https://github.com/toboshii/home-cluster
[submodule "repos/cbirkenbeul-k3s-gitops"]
	path = repos/cbirkenbeul-k3s-gitops
	url = https://github.com/cbirkenbeul/k3s-gitops
[submodule "repos/budimanjojo-home-cluster"]
	path = repos/budimanjojo-home-cluster
	url = https://github.com/budimanjojo/home-cluster
[submodule "repos/Diaoul-home-ops"]
	path = repos/Diaoul-home-ops
	url = https://github.com/Diaoul/home-ops
[submodule "repos/charlie-haley-home-cluster"]
	path = repos/charlie-haley-home-cluster
	url = https://github.com/charlie-haley/home-cluster
[submodule "repos/kitos9112-k8s-home"]
	path = repos/kitos9112-k8s-home
	url = https://github.com/kitos9112/k8s-home
[submodule "repos/jr0dd-home-ops"]
	path = repos/jr0dd-home-ops
	url = https://github.com/jr0dd/home-ops
[submodule "repos/phybros-k3s-cluster"]
	path = repos/phybros-k3s-cluster
	url = https://github.com/phybros/k3s-cluster
[submodule "repos/buvis-net-clusters"]
	path = repos/buvis-net-clusters
	url = https://github.com/buvis-net/clusters
[submodule "repos/h3mmy-bloopysphere"]
	path = repos/h3mmy-bloopysphere
	url = https://github.com/h3mmy/bloopysphere
[submodule "repos/samip5-k8s-cluster"]
	path = repos/samip5-k8s-cluster
	url = https://github.com/samip5/k8s-cluster
[submodule "repos/thaum-xyz-ankhmorpork"]
	path = repos/thaum-xyz-ankhmorpork
	url = https://github.com/thaum-xyz/ankhmorpork
[submodule "repos/espizo-template-cluster-k3s"]
	path = repos/espizo-template-cluster-k3s
	url = https://github.com/espizo/template-cluster-k3s
[submodule "repos/jensneuhaus-template-cluster-k3s"]
	path = repos/jensneuhaus-template-cluster-k3s
	url = https://github.com/jensneuhaus/template-cluster-k3s
[submodule "repos/omercnet-home-cluster"]
	path = repos/omercnet-home-cluster
	url = https://github.com/omercnet/home-cluster
[submodule "repos/Iouns-template-cluster-k3s"]
	path = repos/Iouns-template-cluster-k3s
	url = https://github.com/Iouns/template-cluster-k3s
[submodule "repos/ohthateverest-template-cluster-k3s"]
	path = repos/ohthateverest-template-cluster-k3s
	url = https://github.com/ohthateverest/template-cluster-k3s
[submodule "repos/ChristfriedBalizou-template-cluster-k3s"]
	path = repos/ChristfriedBalizou-template-cluster-k3s
	url = https://github.com/ChristfriedBalizou/template-cluster-k3s
[submodule "repos/Rojikku-template-cluster-k3s"]
	path = repos/Rojikku-template-cluster-k3s
	url = https://github.com/Rojikku/template-cluster-k3s
[submodule "repos/zsiddiqi-template-cluster-k3s"]
	path = repos/zsiddiqi-template-cluster-k3s
	url = https://github.com/zsiddiqi/template-cluster-k3s
[submodule "repos/rahimigit-template-cluster-k3s"]
	path = repos/rahimigit-template-cluster-k3s
	url = https://github.com/rahimigit/template-cluster-k3s
[submodule "repos/symbiontik-template-cluster-k3s"]
	path = repos/symbiontik-template-cluster-k3s
	url = https://github.com/symbiontik/template-cluster-k3s
[submodule "repos/kurtbcox-template-cluster-k3s"]
	path = repos/kurtbcox-template-cluster-k3s
	url = https://github.com/kurtbcox/template-cluster-k3s
[submodule "repos/pgrauman-template-cluster-k3s"]
	path = repos/pgrauman-template-cluster-k3s
	url = https://github.com/pgrauman/template-cluster-k3s
[submodule "repos/c-yco-template-cluster-k3s"]
	path = repos/c-yco-template-cluster-k3s
	url = https://github.com/c-yco/template-cluster-k3s
[submodule "repos/travismoran-template-cluster-k3s"]
	path = repos/travismoran-template-cluster-k3s
	url = https://github.com/travismoran/template-cluster-k3s
[submodule "repos/GeckoSplinter-template-cluster-k3s"]
	path = repos/GeckoSplinter-template-cluster-k3s
	url = https://github.com/GeckoSplinter/template-cluster-k3s
[submodule "repos/devlincashman-template-cluster-k3s"]
	path = repos/devlincashman-template-cluster-k3s
	url = https://github.com/devlincashman/template-cluster-k3s
[submodule "repos/5thsymphony-template-cluster-k3s"]
	path = repos/5thsymphony-template-cluster-k3s
	url = https://github.com/5thsymphony/template-cluster-k3s
[submodule "repos/mrueg-template-cluster-k3s"]
	path = repos/mrueg-template-cluster-k3s
	url = https://github.com/mrueg/template-cluster-k3s
[submodule "repos/eliud-kinyanjui-template-cluster-k3s"]
	path = repos/eliud-kinyanjui-template-cluster-k3s
	url = https://github.com/eliud-kinyanjui/template-cluster-k3s
[submodule "repos/lucacalcaterra-template-cluster-k3s"]
	path = repos/lucacalcaterra-template-cluster-k3s
	url = https://github.com/lucacalcaterra/template-cluster-k3s
[submodule "repos/olufemi2-template-cluster-k3s"]
	path = repos/olufemi2-template-cluster-k3s
	url = https://github.com/olufemi2/template-cluster-k3s
[submodule "repos/heiderich-template-cluster-k3s"]
	path = repos/heiderich-template-cluster-k3s
	url = https://github.com/heiderich/template-cluster-k3s
[submodule "repos/enchantednatures-template-cluster-k3s"]
	path = repos/enchantednatures-template-cluster-k3s
	url = https://github.com/enchantednatures/template-cluster-k3s
[submodule "repos/shawnhank-template-cluster-k3s"]
	path = repos/shawnhank-template-cluster-k3s
	url = https://github.com/shawnhank/template-cluster-k3s
[submodule "repos/heartshare-template-cluster-k3s"]
	path = repos/heartshare-template-cluster-k3s
	url = https://github.com/heartshare/template-cluster-k3s
[submodule "repos/eplord-template-cluster-k3s"]
	path = repos/eplord-template-cluster-k3s
	url = https://github.com/eplord/template-cluster-k3s
[submodule "repos/InsOpDe-template-cluster-k3s"]
	path = repos/InsOpDe-template-cluster-k3s
	url = https://github.com/InsOpDe/template-cluster-k3s
[submodule "repos/Drakkonite-template-cluster-k3s"]
	path = repos/Drakkonite-template-cluster-k3s
	url = https://github.com/Drakkonite/template-cluster-k3s
[submodule "repos/lamlion-template-cluster-k3s"]
	path = repos/lamlion-template-cluster-k3s
	url = https://github.com/lamlion/template-cluster-k3s
[submodule "repos/DragomirAlin-template-cluster-k3s"]
	path = repos/DragomirAlin-template-cluster-k3s
	url = https://github.com/DragomirAlin/template-cluster-k3s
