[submodule "repos/Kashalls-home-cluster"]
	path = repos/Kashalls-home-cluster
	url = https://github.com/Kashalls/home-cluster
	branch = main
[submodule "repos/Ornias1993-gitops"]
	path = repos/Ornias1993-gitops
	url = https://github.com/Ornias1993/gitops
	branch = main
[submodule "repos/alexwaibel-home-cluster"]
	path = repos/alexwaibel-home-cluster
	url = https://github.com/alexwaibel/home-cluster
	branch = main
[submodule "repos/brittonhayes-devops-lab"]
	path = repos/brittonhayes-devops-lab
	url = https://github.com/brittonhayes/devops-lab
	branch = main
[submodule "repos/dafrenchyman-dockers_and_helm"]
	path = repos/dafrenchyman-dockers_and_helm
	url = https://github.com/dafrenchyman/dockers_and_helm
	branch = master
[submodule "repos/kasuboski-k8s-gitops"]
	path = repos/kasuboski-k8s-gitops
	url = https://github.com/kasuboski/k8s-gitops
	branch = main
[submodule "repos/allenporter-k8s-gitops"]
	path = repos/allenporter-k8s-gitops
	url = https://github.com/allenporter/k8s-gitops
	branch = main
[submodule "repos/rogerrum-k8s-gitops"]
	path = repos/rogerrum-k8s-gitops
	url = https://github.com/rogerrum/k8s-gitops
	branch = main
[submodule "repos/whalecoiner-home"]
	path = repos/whalecoiner-home
	url = https://github.com/whalecoiner/home
	branch = main
[submodule "repos/onedr0p-home-ops"]
	path = repos/onedr0p-home-ops
	url = https://github.com/onedr0p/home-ops
	branch = main
[submodule "repos/rwaltr-infra"]
	path = repos/rwaltr-infra
	url = https://github.com/rwaltr/infra
	branch = master
[submodule "repos/coolguy1771-home-ops"]
	path = repos/coolguy1771-home-ops
	url = https://github.com/coolguy1771/home-ops
	branch = main
[submodule "repos/clouedoc-infra"]
	path = repos/clouedoc-infra
	url = https://github.com/clouedoc/infra
	branch = main
[submodule "repos/danmanners-homelab-kube-cluster"]
	path = repos/danmanners-homelab-kube-cluster
	url = https://github.com/danmanners/homelab-kube-cluster
	branch = main
[submodule "repos/omdv-homelab-server"]
	path = repos/omdv-homelab-server
	url = https://github.com/omdv/homelab-server
	branch = main
[submodule "repos/lethek-k8s-gitops"]
	path = repos/lethek-k8s-gitops
	url = https://github.com/lethek/k8s-gitops
[submodule "repos/h3mmy-bloopySphere"]
	path = repos/h3mmy-bloopySphere
	url = https://github.com/h3mmy/bloopySphere
[submodule "repos/xUnholy-k8s-gitops"]
	path = repos/xUnholy-k8s-gitops
	url = https://github.com/xUnholy/k8s-gitops
[submodule "repos/HeroCC-infra"]
	path = repos/HeroCC-infra
	url = https://github.com/HeroCC/infra
[submodule "repos/wrmilling-k3s-gitops"]
	path = repos/wrmilling-k3s-gitops
	url = https://github.com/wrmilling/k3s-gitops
